/* This is unnecessary to functionality, just for fun! */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #484848;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid #6c757d;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}

.modal {
  color: rgba(0, 0, 0, 0.8);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#light {
  /* test */
  /* background-color: #f3ebf6; */
}

#dark {
  background-color: #484848;
}
